.container-Brazil{
  background-image: url('/src/images/brazil.jpg');
  background-repeat: no-repeat;
  height: 1200px;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
}
.container-Brazil {
  background-image: url('/src/images/Brazil2.jpeg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.container-1 {
display: flex;
justify-content:center;
/* color: white; */
height: 350px;
padding: 50px;
}

.pic-1 {
display: flex;
justify-content: center;
justify-items: center;
background: rgba(255, 255, 255, 0.6);
height: 250px;
width: 334px;
flex-direction: column;
color: Blue;
padding: 20px;
border-radius: 30px;
border: 4px solid white;
}

.container-2 {
display: flex;
justify-content:center;
height: 300px;




}

.pic-2 {
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
height: 350px;
width: 500px;
padding: 20px;
color: blue;
background: rgba(255, 255, 255, 0.6);
align-items: center;
border-radius: 30px;
border: 4px solid white;
}

.postBox {
background-color: white;
height: 150px;
width: 400px;
}



img {
display: block;
border-radius: 50%;
margin-left: auto;
margin-right: auto
}

.john {
display: flex;
justify-content: center;
}

.bio {
display: flex;
justify-content: center;
}


.row-new {
display: flex;
justify-content:center;
color: white;
height: 420px;
border-top-style: solid;
border-top-color: white;
border-top-width: 5px;
/* align-items: center; */
padding: 20px;
}

.row-old {
display: flex;
align-items:center;
/* background-color: green; */
color: white;
height: 450px;
align-items: center;
border-top-style: solid;
border-top-color: white;
border-top-width: 5px;
padding: 20px;
}

.pro3 {
color: royalblue;
font-weight: bold;
display: flex;
align-items: center;
text-decoration: none;
padding: 0.5rem 1rem;
border: 4px solid white;
border-radius: 30px;
width: auto;
text-align: center;
}

.pro3:hover {
display: flex;
border: 4px solid white;
color: white;
background-color: royalblue;
border-radius: 30px;

}


/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}